.container button {
  background-color: red;
  color: yellow;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 10px; }
  .container button:hover {
    cursor: pointer;
    background-color: blue;
    color: white; }
.container .container-title {
  color: blue;
  border: solid 1px green; }
.container #content {
  width: 200px;
  height: 100px;
  margin: 10px;
  background-color: brown;
  color: aqua; }
  .container #content-left {
    color: red; }
